<div class="row">
  <h4>Ajouter une Facture</h4>
</div>

<div class="container">
  <form #factureForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="">Client</label>
        <p-dropdown #clientPicker [options]="clients" name="clientId" [(ngModel)]="selectedClient"
          [ngModelOptions]="{standalone: true}" [filter]="true" filterBy="nom,prenom" optionLabel="nom"
          [required]="true" placeholder="Sélectionner un client...">
          <ng-template let-item pTemplate="item">
            {{ item.value.nom | uppercase }} {{ item.value.prenom}}
          </ng-template>
        </p-dropdown>
      </div>

      <div class="form-group col-md-6 col-sm-12">
        <label for="">Type de Paiement</label>
        <p-dropdown #typePaiementPicker [options]="typesPaiement" name="typePaiementId"
          [(ngModel)]="selectedTypePaiement" [ngModelOptions]="{standalone: true}" [filter]="true" filterBy="id"
          optionLabel="nom" [required]="true" placeholder="Sélectionner un type de paiement...">
        </p-dropdown>
      </div>

      <div class="form-groupe col-md-3 col-sm-6">
        <label for="numeroFacture">Numéro Facture</label>
        <input #numeroInput="ngModel" type="text" id="numeroFacture" name="numeroFacture" class="form-control"
          [(ngModel)]="selectedNumeroFacture">
      </div>

      <div class="form-groupe col-md-3 col-sm-6">
        <label for="dateFacturation">Date</label>
        <div style="height: 60%;">
          <input #dateFacturePicker="ngModel" type="date" dateFormat="dd.mm.yy" name="dateFacturation"
            style="width: 100%; height: 90%;" id="dateFacturation" [(ngModel)]="selectedDateFacturation">
        </div>
      </div>

      <div class="form-groupe col-md-3 col-sm-6">
        <label for="">Devise</label>
        <p-dropdown #devisePicker [options]="devises" name="deviseId" [filter]="true" filterBy="nom" optionLabel="nom"
          [(ngModel)]="selectedDevise" [ngModelOptions]="{standalone: true}" [required]="true"
          placeholder="Sélectionner une devise...">
          <ng-template let-item pTemplate="item">
            {{ item.value.symbole}} - {{ item.value.nom | uppercase }}
          </ng-template>
        </p-dropdown>
      </div>

      <div class="form-groupe col-md-3 col-sm-6">
        <label for="nom">Taxe</label>
        <p-dropdown #taxePicker [options]="taxes" name="taxeId" [filter]="true" filterBy="nom" optionLabel="nom"
          [(ngModel)]="selectedTaxe" [ngModelOptions]="{standalone: true}" [required]=true
          placeholder="Sélectionner une taxe...">
          <ng-template let-item pTemplate="item">
            {{ item.value.nom }} - {{ item.value.taux }}%
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </form>
  <br><br>

  <div class="container">
    <h4>Détails de la Facture</h4>
    <p-table [scrollable]="true" [responsive]="true" (onLazyLoad)="loadDetailsFacture()" [value]="detailsFactureList"
      [lazy]="true" [scrollable]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>Article</th>
          <th>Quantité</th>
          <th>Prix Unitaire HT</th>
          <th>Taxe</th>
          <th>Action</th>
        </tr>

        <tr>
          <td>
            <p-dropdown #articlePicker [options]="articles" name="articleId" [filter]="true" filterBy="designation"
              optionLabel="designation" [required]="true" appendTo="body" [(ngModel)]="selectedArticle"
              [ngModelOptions]="{standalone: true}" [showClear]="true" placeholder="Sélectionner un article...">
              <ng-template let-item pTemplate="item">
                {{ item.value.id }} - {{ item.value.designation }}
              </ng-template>
            </p-dropdown>
          </td>
          <td><input #quantiteInput="ngModel" type="number" name="quantite" class="form-control" id="quantite"
              [(ngModel)]="selectedQuantite" required></td>
          <td>{{ selectedArticle ? selectedArticle.prixVente : '' }}</td>
          <td>{{ selectedArticle ? selectedArticle.taxeDto.taux + '%' : '' }}</td>
          <td><button (click)="saveDetailsFacture()" type="button" class="btn btn-sm btn-success">Ajouter</button></td>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.articleDesignation }}</td>
          <td>{{ item.quantite }}</td>
          <td>{{ item.prixFactureHt }}</td>
          <td>{{ item.taxeDto.taux }}</td>
          <td><button class="btn btn-sm btn-outline-danger" (click)="deleteDetailsFacture(item.id)">Supprimer</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br>

    <div class="container text-right">
      <p>
        Cout Total HT : {{ coutTotal ? coutTotal.totalHt : '0' }}
      </p>
      <p>
        Total Taxes : {{ coutTotal ? coutTotal.totalTaxes : '0' }}
      </p>
      <p>
        Cout Total TTC : {{ coutTotal ? coutTotal.totalTtc : '0' }}
      </p>
    </div>
    <br><br>

    <div class="container">
      <button (click)="backToList()" class="btn btn-secondary float-left">Retour</button>

      <button (click)="saveFacture()"
        [ngStyle]="{ 'cursor':factureForm.form.valid === true ? 'pointer' : 'not-allowed' }"
        [disabled]="!factureForm.form.valid" type="submit" class="btn btn-primary float-right">Enregistrer</button>
    </div>
  </div>
</div>
