<div class="container">

  <h4>{{title}}</h4>
  <form #utilisateurForm="ngForm" (ngSubmit)="save()">
    <div class="form-row">
      <div class="form-group col">
        <label for="nom">Nom</label>
        <input #nominput="ngModel" name="nom" type="text" [(ngModel)]="model.nom" class="form-control" id="nom"
          required>
        <validation-messages [formCtrl]="nominput"></validation-messages>
      </div>
      <div class="form-group col">
        <label for="prenom">Prenom</label>
        <input #prenominput="ngModel" name="prenom" type="text" [(ngModel)]="model.prenom" class="form-control"
          id="prenom" required>
        <validation-messages [formCtrl]="prenominput"></validation-messages>

      </div>
    </div>
    <!-- <div class="form-group"> -->
      <label for="telephone">Adresse</label>
      <div class="form-row">
        <div class="form-group col-md-3 col-sm-6">
          <input placeholder="rue" name="rue" type="text" [(ngModel)]="model.adresse.rue" class="form-control" id="rue">
        </div>
        <div class="form-group col-md-3 col-sm-6">
          <input placeholder="localite" name="localite" type="text" [(ngModel)]="model.adresse.localite"
            class="form-control" id="localite">
        </div>
        <div class="form-group col-md-3 col-sm-6">
          <input placeholder="ville" name="ville" type="text" [(ngModel)]="model.adresse.ville" class="form-control"
            id="ville">
        </div>
        <div class="form-group col-md-3 col-sm-6">
          <input placeholder="pays" name="pays" type="text" [(ngModel)]="model.adresse.pays" class="form-control"
            id="pays">
        </div>
      </div>
    <!-- </div> -->
    <div class="form-row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="telephone">Telephone</label>
        <input name="adresse" type="text" [(ngModel)]="model.telephone" class="form-control" id="telephone">
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="email">Email</label>
        <input #emailadressinput="ngModel" name="email" type="email" [(ngModel)]="model.email" class="form-control"
          id="email" pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" required>
        <validation-messages [formCtrl]="emailadressinput"></validation-messages>

      </div>
    </div>
    <div class="form-group">
      <label for="login">Nom d'utilisateur</label>
      <input #logininput="ngModel" name="login" type="text" [(ngModel)]="model.login" class="form-control" id="login"
        required>
      <validation-messages [formCtrl]="logininput"></validation-messages>
    </div>
    <div class="form-group">
      <label for="password">Mot de pass</label>
      <input #passwordinput="ngModel" name="password" type="password" [(ngModel)]="model.password" class="form-control"
        id="password">
      <validation-messages [formCtrl]="passwordinput"></validation-messages>

    </div>
    <div class="form-group">
      <label for="confirmpassword">Confirmer mot de pass</label>
      <input #confirmpasswordinput form name="confirmpassword" type="password" class="form-control"
        id="confirmpassword">
      <validation-messages [formCtrl]="confirmpasswordinput"></validation-messages>
    </div>

    <!-- <button [ngStyle]="{'cursor':utilisateurForm.form.valid === true ? 'pointer' : 'not-allowed' }"  [disabled]="!utilisateurForm.form.valid" type="submit" class="btn btn-primary">enregistrer</button> -->

    <div class="form-row" style="padding: 20px;">
      <div class="col-6 text-left">
        <button (click)="backToList()" type="button" class="btn btn-outline-primary">Annuler</button>
      </div>
      <div class="col-6 text-right">
           <button [ngStyle]="{'cursor':utilisateurForm.form.valid === true ? 'pointer' : 'not-allowed' }"  [disabled]="!utilisateurForm.form.valid" type="submit" class="btn btn-primary">Enregistrer</button>
  
      </div>
  
    </div>
  </form>

</div>