<div class="container">
  <div class="row top-actions">
      <div class="col-8 top-header">
          <h4>Liste des contrats</h4>
      </div>
      <div class="col-4 actions text-right">
          <button class="text-right btn btn-primary" (click)="create()">Ajouter</button>
      </div>
  </div>

  <div class="primeng-datatable-container">
      <p-table #dataTable
          (onLazyLoad)="loadAll($event)"
          [value]="contratsList"
          [lazy]="true"
          [scrollable]="true"
          ScrollWidth="100%"
          [responsive]="true">
          <ng-template pTemplate="header">
              <tr>
                  <th>Sujet</th>
                  <th>Date debut</th>
                  <th>Date fin</th>
                  <th>Description</th>
                  <th>TypeContrat</th>
                  <th style="text-align: center;">Actions</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
              <tr>
                  <td>{{item.sujet}}</td>
                  <td>{{item.dateDebut}}</td>
                  <td>{{item.dateFin}}</td>
                  <td>{{item.description | slice:0:15}}...</td>
                  <td>{{item.typeContrat}}</td>
                  <td class="table-actions" align="center">
                      <button class="btn btn-sm btn-success" (click)="edit(item.id)"><i class="far fa-edit"></i></button>
                      <button class="btn btn-sm btn-outline-danger" (click)="delete(item.id)"><i class="far fa-trash-alt"></i></button>
                  </td>
              </tr>
          </ng-template>
      </p-table>
      <p-paginator totalRecords="{{totalItems}}" rows="{{itemsPerPage}}" (onPageChange)="loadAll($event)"></p-paginator>
  </div>
</div>
