  <div class="col">

    <h3>Ajouter un contrat</h3>

    <form #contratForm="ngForm" method="POST" action="" (ngSubmit)="save()">

      <div class="form-group ">
        <label for="client">Client</label><br>
        <p-dropdown [options]="utilisateurs" name="utilisateurId" [(ngModel)]="selectUtilisateur"
          [ngModelOptions]="{standalone: true}" [filter]="true" filterBy="value.nom,id" optionLabel="nom"
          [required]="true" placeholder="Selectionner un client" #clientinput="ngModel">
          <ng-template let-item pTemplate="item">
            {{ item.value.nom | uppercase }} {{ item.value.prenom}}
          </ng-template>
        </p-dropdown>
      </div>

      <div class="row">
        <div class="col">
          <label>Sujet</label>
          <input type="text" class="form-control" placeholder="" [(ngModel)]="model.sujet" name="sujet" >
        </div>
        <div class="col">
          <label>Type de contrat</label>
          <input type="text" class="form-control" placeholder="" [(ngModel)]="model.typeContrat" name="typeContrat" >
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col">
          <label>Date debut</label>
          <input type="date" class="form-control" placeholder="" [(ngModel)]="model.dateDebut" name="dateDebut" >
        </div>
        <div class="form-group col">
          <label>Date fin</label>
          <input type="date" class="form-control" placeholder="" [(ngModel)]="model.dateFin" name="dateFin" >
        </div>
      </div>

      <div class="form-floating">
        <label for="description">Description</label>
        <textarea class="form-control" id="floatingTextarea2" cols="30" rows="10" [(ngModel)]="model.description"
          name="description" ></textarea>
      </div>

      <div class="form-row">
        <div class="col-6 text-left">
          <button type="button" class="btn btn-outline-primary" (click)="backToList()">Annuler</button>
        </div>
        <div class="col-6 text-right">
          <button type="submit" class="btn btn-primary " [disabled]="!contratForm.form.valid">Enregistrer</button>
        </div>
      </div>

    </form>

  </div>
