<div class="container">
  <div class="col-8">
    <h4>{{title}}</h4>
  </div>
  <form #depenseForm="ngForm" (ngSubmit)="save()">
    <div class="form-row">
      <div class="form-group col-6">
        <label for="nom">Nom</label>
        <input #nominput="ngModel" name="nom" type="text" [(ngModel)]="model.nom" class="form-control" id="nom"required>
        <validation-messages [formCtrl]="nominput"></validation-messages>

      </div>
      <div class="form-group col-6">
        <label for="datedepense">Date depense</label>
        <input #dateDepence="ngModel" name="datedepense" type="date" [(ngModel)]="model.dateDepense" class="form-control" id="datedepense"required>
        <validation-messages [formCtrl]="dateDepence"></validation-messages>

      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="montant">Montant</label>
        <input #montantinput="ngModel" name="montant" type="number" [(ngModel)]="model.montant" class="form-control" id="montant"required>
        <validation-messages [formCtrl]="montantinput"></validation-messages>

      </div>
      <div class="form-group col">
        <label for="prixVente">Devise</label><br>

        <p-dropdown #devisepicker="ngModel" [options]="devises" name="deviseId" [(ngModel)]="selectedDevise"
          [ngModelOptions]="{standalone: true}" [filter]="true" filterBy="label, value.nom,value.symbole"
          optionLabel="nom" [required]="true" placeholder="Selectionner un type Paiement"></p-dropdown>
        <validation-messages [formCtrl]="devisepicker"></validation-messages>

      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="prixVente">Type depense</label><br>

        <p-dropdown #typedepensepicker="ngModel" [options]="typeDepenses" name="typeDepenseId" [(ngModel)]="selectedTypeDepense"
          [ngModelOptions]="{standalone: true}" [filter]="true" filterBy="label, ,value.nom, value.description"
          optionLabel="nom" [required]="true" placeholder="Selectionner un type depense"  ></p-dropdown>
          <validation-messages [formCtrl]="typedepensepicker"></validation-messages>

      </div>
      <div class="form-group col">
        <label for="prixVente">Type paiement</label><br>

        <p-dropdown #typepaiementpicker="ngModel" [options]="typePaiements" name="typePaiementId"
          [(ngModel)]="selectedTypePaiement" [ngModelOptions]="{standalone: true}" [filter]="true"
          filterBy="label, value.nom, value.description" optionLabel="nom" [required]="true"
          placeholder="Selectionner un type Paiement"></p-dropdown>
          <validation-messages [formCtrl]="typepaiementpicker"></validation-messages>

      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" [(ngModel)]="model.description" id="description" cols="30"
          rows="10"></textarea>
      </div>




    </div>

  <!-- </div> -->
  <div class="form-row">
    <div class="col-6 text-left">
      <button (click)="backToList()" type="button" class="btn btn-outline-primary">Annuller</button>
    </div>
    <div class="col-6 text-right">
      <button  [disabled]="!depenseForm.form.valid" type="submit" class="btn btn-primary ">Enregistrer</button>


    </div>

  </div>
</form>
</div>
