
<div class="container">
  <div class="col-8">
    <h4>{{title}}</h4>
  </div>
<form #taxeForm="ngForm" (ngSubmit)="save()">
  <div class="form-row">
    <div class="form-group col">
      <label for="nom">Nom</label>
      <input #nominput="ngModel" name="nom" type="text" [(ngModel)]="model.nom" class="form-control" id="nom" required>
            <validation-messages [formCtrl]="nominput"></validation-messages>
    </div>
  </div>
    <div class="form-row">
    <div class="form-group col">
      <label for="taux">Taux</label>
      <input #tauxinput="ngModel" class="form-control" name="taux" [(ngModel)]="model.taux" type="number" id="taux" required>
            <validation-messages [formCtrl]="tauxinput"></validation-messages>
    </div>
  </div>
    <div class="form-row" >
      <div class="col-6 text-left">
        <button
        (click)="backToList()"
        type="button"
        class="btn btn-outline-primary">Annuler</button>
      </div>
      <div class="col-6 text-right">
        <button
        [ngStyle]="{'cursor':taxeForm.form.valid === true ? 'pointer' : 'not-allowed' }"
        [disabled]="!taxeForm.form.valid"
        type="submit"
        class="btn btn-primary">Enregistrer</button>

      </div>

    </div>
  </form>
</div>
